@import url("https://fonts.googleapis.com/css?family=Walter+Turncoat");

.App {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 100vw;
  background-image: url("https://cdn5.vectorstock.com/i/1000x1000/70/54/pub-and-restaurant-background-scene-vector-33807054.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.leftSpoon {
  transform: rotate(46deg);
  height: 80px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 5px;
}
.rightSpoon {
  transform: rotate(-134deg);
  height: 80px;
  padding-right: 20px;
  padding-top: 20px;
}
.leftForkKnife {
  padding-right: 20px;
  margin-right: 5px;
}
.rightForkKnife {
  padding-left: 20px;
  margin-left: 5px;
}
.header {
  padding-top: 20px;
  font-size: 100px;
  width: 100%;
  height: 15vh;
  position: sticky;
  text-align: center;
  color: whitesmoke;
  -webkit-text-stroke: 1.7px black;
  font-family: "turncoat";
  background-image: url("https://wallpaperaccess.com/full/1390896.jpg");
}
.foodFormDirections {
  font-family: "turncoat";
  font-size: 16px;
  padding-bottom: 25px;
  padding-top: 25px;
  text-align: center;
  color: black;
  -webkit-text-stroke: 0.5px gray;
}

.addFoodReviewContainer {
  background-image: url("https://t3.ftcdn.net/jpg/01/75/03/46/360_F_175034602_dW31V5QsnyY3oBsbcoMFtNhNlgRWdAA6.jpg");

  /* background-color: whitesmoke; */
  margin-left: 300px;
  width: 70%;
  background-size: cover;
  background-position: center;
  margin-top: 60px;
  margin-bottom: 50px;
  border: 7px solid grey;
  border-radius: 2000px;
  background-repeat: no-repeat;
  padding-top: 40px;
  padding-bottom: 130px;
}
/* select {
  padding-top: 20px;
  margin: 0 auto;
  width: 500px;
  margin-top: 10px;
} */
input {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 15px 10px;
  border: 3px solid grey;
  border-radius: 11px;
}
/* .PhoneInputInput {
  padding-top: 20px;
  margin: 0 auto;
  width: 500px;
  margin-top: 10px;
} */
input[type="text"] {
  border-radius: 30px;
  padding-top: 10px;
  margin: 0 auto;
  width: 800px;
  margin-top: 10px;
}
input[type="date"] {
  /* border-radius: 30px;
  padding-top: 10px;
  margin: 0 auto;
  width: 400px;
  margin-top: 10px;
  display: inline;
  margin-left: 180px; */
  border-radius: 30px;
  padding-top: 10px;
  margin: 0 auto;
  width: 800px;
  margin-top: 10px;
}
input[type="number"] {
  /* border-radius: 30px;
  padding-top: 10px;
  margin: 0 auto;
  width: 400px;
  margin-top: 10px;
  display: inline; */
  border-radius: 30px;
  padding-top: 10px;
  margin: 0 auto;
  width: 800px;
  margin-top: 10px;
}
.dateReviewDirections {
  font-family: "turncoat";
  font-size: 14px;
  padding-bottom: 5pxx;
  text-align: center;
  color: black;
  -webkit-text-stroke: 0.5px gray;
}

.addReviewBtn {
  font-family: "turncoat";
  font-size: 20px;
  cursor: pointer;
  background-color: black;
  border: solid grey;
  color: whitesmoke;
  position: absolute;
  text-align: center;
  margin: 0;
  left: 48.1%;
  transform: translate(180%, 30%);
  padding: 8px;
}
.addReviewBtn:hover {
  background-color: grey;
  color: black;
  border: solid 3px whitesmoke;
  color: white;
}

.reviewBtnsContainer {
  float: left;
  width: 100%;
}

.handleCloseOpenBtn {
  font-family: "turncoat";
  font-size: 20px;
  cursor: pointer;
  background-color: black;
  border: solid grey;
  color: whitesmoke;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 5px;
  width: 15%;
  padding: 8px;
}
.handleCloseOpenBtn:hover {
  background-color: grey;
  color: black;
  border: solid whitesmoke;
  color: white;
}
.reviewBtnsContainer button {
  font-family: "turncoat";
  font-size: 20px;
  cursor: pointer;
  background-color: black;
  border: solid grey;
  color: whitesmoke;
  margin: 0;
  width: 33.3%;
  padding: 8px;
}

.reviewBtnsContainer button:hover {
  background-color: grey;
  color: black;
  border: solid whitesmoke;
  color: white;
}

/* .faveRestaurantBtn:hover {
  background-color: grey;
  color: black;
  border: solid whitesmoke;
  color: white; */
/* .faveRestaurantBtn {
  font-family: "turncoat";
  font-size: 20px;
  cursor: pointer;
  background-color: black;
  border: solid grey;
  color: whitesmoke;
  position: absolute;
  text-align: center;
  margin: 0;
  width: 33.3%;
  padding: 8px;
} */

/* .unFaveRestaurantBtn {
 
}
.unFaveRestaurantBtn:hover {
  background-color: grey;
  color: black;
  border: solid whitesmoke;
  color: white;
} */

/* .deleteReviewBtn {
  font-family: "turncoat";
  font-size: 20px;
  cursor: pointer;
  background-color: black;
  border: solid grey;
  color: whitesmoke;
  position: absolute;
  margin: 0;
  width: 33.3%;
  padding: 8px;
}
.deleteReviewBtn:hover {
  background-color: grey;
  color: black;
  border: solid whitesmoke;
  color: white;
} */

.reviewDetailsContainer {
  background-image: url("https://t3.ftcdn.net/jpg/01/75/03/46/360_F_175034602_dW31V5QsnyY3oBsbcoMFtNhNlgRWdAA6.jpg");
  background-size: cover;
  background-position: center;
  margin-left: 220px;
  width: 75%;
  border: 7px solid grey;
  margin-bottom: 100px;
}
.restaurantName {
  font-family: "Times New Roman", Times, serif;
  padding-left: 20px;
  font-size: 20px;
  color: black;
  display: block;
}

.favoriteRestaurant {
  height: 5vh;
}

.restaurantAddress {
  font-family: "Times New Roman", Times, serif;
  padding-left: 20px;
  font-size: 20px;
  color: black;
  display: block;
}
/* .phoneNumber {
  font-family: "Times New Roman", Times, serif;
  padding-left: 20px;
  font-size: 20px;
  color: black;
  display: block;
} */
.webSiteLink {
  font-family: "Times New Roman", Times, serif;
  padding-left: 20px;
  font-size: 20px;
  font-weight: bold;
  display: block;
}
.dateVisited {
  font-family: "Times New Roman", Times, serif;
  padding-left: 20px;
  font-size: 20px;
  color: black;
  display: block;
}
.typeOfMealHad {
  font-family: "Times New Roman", Times, serif;
  padding-left: 20px;
  font-size: 20px;
  color: black;
  display: block;
}
/* .phoneInput {
  font-family: "Times New Roman", Times, serif;
  padding: 5px;
  width: 77.5%;
  font-size: 20px;
  margin-right: 20px;
  color: black;
  display: flex;
  flex-direction: row;
  margin-left: 120px;
}
.PhoneInputInput {
  border-radius: 29px;
 
} */

.reccommendToFriend {
  font-family: "Times New Roman", Times, serif;
  padding-left: 20px;
  font-size: 20px;
  color: black;
  display: block;
}
.ratingOutOfTen {
  font-family: "Times New Roman", Times, serif;
  padding-left: 20px;
  font-size: 20px;
  color: black;
  display: block;
}

.footer {
  font-size: 30px;
  font-family: "turncoat";
  position: fixed;
  color: whitesmoke;
  text-align: center;
  width: 100vw;
  left: 0;
  bottom: 0;
  background-image: url("https://wallpaperaccess.com/full/1390896.jpg");
  border: 2px solid whitesmoke;
  -webkit-text-stroke: 0.2px black;
}
.reactImgLeftFoot {
  height: 20px;
}
